{% extends "base.html" %}
{% block title %}Изменение тегов{% endblock title %}
{% block auth %}{% include "Web/log_navbar.html" %}{% endblock auth %}
{% block navbar %}{% include "Web/settings_navbar.html" %}{% endblock navbar %}
{% block content %}
    <h3 class="text-center">Изменение тегов: <span class="text-decoration-underline">{{ test.title }}</span></h3>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Добавленные теги:</label>
            {% for label, id, chose in tags %}
            <div class="input-group mb-2">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" id="{{id}}" value="{{id}}" name="tags"
                    {% if chose %}
                    checked
                    {% endif %}/>
                </div>
                <label class="form-control">{{ label }}</label>
            </div>
            {% endfor %}
        </div>
        <input class="btn btn-success" type="submit" value="Изменить"/>
    </form>
    <a href="/profile#item-{{ test.id }}" class="btn btn-primary mt-2">Назад к списку<a/>
{% endblock content %}