{% extends "Web/base.html" %}
{% block title %}{{ test.title }}{% endblock title %}
{% block auth %}{% include "Web/log_navbar.html" %}{% endblock auth %}
{% block navbar %}{% include "Web/settings_navbar.html" %}{% endblock navbar %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{ test.title }}</h4>
        <h6 class="description_of_the_test">{{ test.description }}</h6>
        <p class="mb-0">Количество вопросов: {{ questions_count }}</p>
        <p class="card-text mb-0"><small class="text-body-secondary">Автор: <a href="/user_tests/{{ author }}/" target="_blank">{{ author }}</a></small></p>
        <p>
            {% for tag in test.tags.all %}
                <span class="badge text-bg-primary">{{ tag.label }}</span>
            {% endfor %}
        </p>
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-success" type="submit" value="Начать тестирование">
        </form> 
    </div>
    <div class="card-footer text-body-secondary">
        Дата публикации: {{ test.published_at|date:"d.m.Y" }}
    </div>
</div>
<a href="/" class="btn btn-primary mt-2">Назад к списку<a/>
{% endblock content %}