{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Упсс</title>
    <meta charset="utf-8" />
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"></head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Упсс</h1>
            <p class="lead">Что-то пошло не так...</p>
            <p><a href="/">На главную</a></p>
        </div>
    </main>
</body>
</html>