{% extends "Web/base.html" %}
{% block title %}QuizApp{% endblock title %}
{% block auth %}{% include "Web/log_navbar.html" %}{% endblock auth %}
{% block navbar %}{% include "Web/settings_navbar.html" %}{% endblock navbar %}
{% block content %}
    <h4 class="text-center mb-3 mt-5">Найдите интересующий вас тест:</h4>
    <form method="get" class="d-flex mb-2">
        <div class="flex-grow-1 me-1">
            <input name="title" class="form-control" value="{{ title }}"/>
        </div>
        <div class="me-1">
            <select name="orderBy" class="form-select">
                <option value="pass_rate" {% if selected == 0 %}selected{% endif %}>По количеству прохождений</option>
                <option value="published_at" {% if selected == 1 %}selected{% endif %}>По дате публикации</option>
            </select>
        </div>
        <input type="submit" value="Фильтр" class="btn btn-outline-primary" />
    </form>
    {% if title %}
    <a href="/" class="badge text-bg-secondary text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"></path>
        </svg>
        Очистить
    </a>
    {% endif %}
    <p class="text-center text-body-secondary">Добавьте дополнительный поиск по тегам, например, введите <b>!Математика</b> в поле поиска</p>
    <span class="d-flex border-bottom border-2 mb-3"></span>
    {% if tests %}
    <div class="container mb-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for test in tests %}
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                    <p class="mb-2"><a class="card-title h4" href="about/{{test.id}}">{{ test.title }}</a></p>
                    <small class="text-body-secondary">Количество прохождений: {{ test.pass_rate }}</small>
                    <p class="mb-0">
                        {% for tag in test.tags.all %}
                            <span class="badge text-bg-primary">{{ tag.label }}</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="card-footer text-body-secondary">
                    {{ test.published_at|date:"d.m.Y" }}
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    {% else %}
    <h5 class="text-center">Список пуст</h5>
    {% endif %}
{% endblock content %}
