{% extends "base.html" %}
{% block title %}Смена логина{% endblock title %}
{% block auth %}{% include "log_navbar.html" %}{% endblock auth %}
{% block navbar %}{% include "settings_navbar.html" %}{% endblock navbar %}
{% block content %}
<h3 class="text-center">Смена логина</h3>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
    </div>
    {% endfor %}
    <input class="btn btn-success" type="submit" value="Изменить логин"/>
</form>
{% endblock content %}