{% extends "base.html" %}
{% block title %}Смена пароля{% endblock title %}
{% block auth %}{% include "log_navbar.html" %}{% endblock auth %}
{% block navbar %}{% include "settings_navbar.html" %}{% endblock navbar %}
{% block content %}
<h3 class="text-center">Смена пароля</h3>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-2">
        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
        <div class="text-danger">
            {% for error in field.errors %}
                <p class="mt-1 mb-0">{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <input class="btn btn-primary mt-2" type="submit" value="Изменить пароль"/>
</form>
{% endblock content %}