{% extends "base.html" %}
{% block title %}Вход{% endblock title %}
{% block auth %}{% include "log_navbar.html" %}{% endblock auth %}
{% block content %}
<h3 class="text-center">Вход</h3>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-2">
        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
        <div class="text-danger">
            {% for error in field.errors %}
                <p class="mt-1 mb-0">{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div>
        {% for error in form.errors.values %}
            <span class="text-danger">{{ error.0 }}</span>
        {% endfor %}
    </div>
    <input class="btn btn-lg btn-primary mt-2" type="submit" value="Войти"/>
</form>
{% endblock content %}