<!DOCTYPE html>
<html>
<head>
    <title>История</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>История</h2>
    <a href="/profile">Профиль</a>
    {% if results.count > 0 %}
    <table>
        <thead>
            <th>Id</th>
            <th>Завершен?</th>
        </thead>
        {% for result in results %}
        <tr>
            <td>
                {% if result.is_finished %}
                <a target="_blank" href="/result/{{ result.id }}">{{ result.id }}</a>
                {% else %}
                {{ result.id }}
                {% endif %}
            </td>
            <td>
                {% if result.is_finished %}
                {{ result.is_finished }}
                {% else %}
                <a target="_blank" href="/test_run/{{ result.test_id }}/{{ result.id }}">Продолжить</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>Ничего нет</h3>
    {% endif %}
</body>
</html>