{% extends "base.html" %}
{% block title %}История{% endblock title %}
{% block content %}
    <h2>История</h2>
    <a href="/profile">Профиль</a>
    {% if user_answers %}
    {% for title, results in user_answers %}
    <table>
        <thead>
            <th>Название теста</th>
            <th>Id</th>
            <th>Завершен?</th>
        </thead>
        {% for result in results %}
        <tr>
            <td>
                {{ title }}
            </td>
            <td>
                {% if result.is_finished %}
                <a target="_blank" href="/result/{{ result.id }}">{{ result.id }}</a>
                {% else %}
                {{ result.id }}
                {% endif %}
            </td>
            <td>
                {% if result.is_finished %}
                {{ result.is_finished }}
                {% else %}
                <a href="/test_run/{{ result.test_id }}/{{ result.id }}">Продолжить</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
    {% else %}
    <h3>Ничего нет</h3>
    {% endif %}
{% endblock content %}