{% extends "base.html" %}
{% block title %}История{% endblock title %}
{% block content %}
<h3 class="text-center">История</h2>
<ul class="nav d-flex justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="/profile">Профиль</a>
    </li>
</ul>
{% if user_answers %}
    {% for title, results in user_answers %}
    <table class="table">
        <thead>
            <th>Название теста</th>
            <th>Id</th>
            <th>Завершен?</th>
        </thead>
        {% for result in results %}
        <tr>
            <td>
                {{ title }}
            </td>
            <td>
                {% if result.is_finished %}
                <a target="_blank" href="/result/{{ result.id }}">{{ result.id }}</a>
                {% else %}
                {{ result.id }}
                {% endif %}
            </td>
            <td>
                {% if result.is_finished %}
                <span class="text-success">{{ result.is_finished }}</span>
                {% else %}
                <a href="/test_run/{{ result.test_id }}/{{ result.id }}">Продолжить</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
{% else %}
<h5 class="text-center">Ничего нет</h5>
{% endif %}
{% endblock content %}