{% extends "base.html" %}
{% block title %}QuizApp{% endblock title %}
{% block auth %}{% include "log_navbar.html" %}{% endblock auth %}
{% block content %}
    <h4 class="text-center mb-3">Найдите интересующий вас тест:</h4>
    <form method="get" class="d-flex mb-3">
        <div class="flex-grow-1 me-1">
            <input name="title" class="form-control" value="{{ title }}"/>
        </div>
        <div class="me-1">
            <select name="orderBy" class="form-select">
                <option value="pass_rate" {% if selected == 0 %}selected{% endif %}>По количеству прохождений</option>
                <option value="published_at" {% if selected == 1 %}selected{% endif %}>По дате публикации</option>
            </select>
        </div>
        <input type="submit" value="Фильтр" class="btn btn-outline-primary" />
    </form>
    <span class="d-flex border-bottom border-2 mb-3"></span>
    {% if tests.count > 0 %}
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for test in tests %}
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                    <p><a class="card-title h4" href="about/{{test.id}}">{{ test.title }}</a></p>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ test.published_at }}</h6>
                    <small class="text-body-secondary">Количество прохождений: {{ test.pass_rate }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    {% else %}
    <h5 class="text-center">Список пуст</h5>
    {% endif %}
{% endblock content %}
