{% extends "base.html" %}
{% block title %}QuizApp{% endblock title %}
{% block content %}
    {% if is_auth %}
    <h3 class="text-center">Добро пожаловать на сайт, <b>{{ username }}</b>!</h3>
    <ul class="nav d-flex justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/profile">Профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Выйти</a>
        </li>
    </ul>
    {% else %}
    <h3 class="text-center">Добро пожаловать на сайт!</h3>
    <ul class="nav d-flex justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/login">Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register">Регистрация</a>
        </li>
    </ul>
    {% endif %}
    <form method="get">
        <div>
            <div class="mb-2">
                <label class="form-label">Название: </label>
                <input name="title" class="form-control" />
            </div>
            <div class="mb-2">
                <label class="form-label">Сортировать по: </label>
                <select name="orderBy" class="form-select">
                    <option value="title">По количеству прохождений</option>
                    <option value="published_at">По дате создания</option>
                </select>
            </div>
            <input type="submit" value="Фильтр" class="btn btn-outline-primary" />
        </div>
    </form>
    {% if tests.count > 0 %}
    <table class="table mt-2">
        <thead>
            <th>Название</th>
            <th>Добавлен</th>
            <th></th>
        </thead>
        {% for test in tests %}
        <tr>
            <td>{{ test.title }}</td>
            <td>{{ test.created_at }}</td>
            <td><a href="about/{{test.id}}">Пройти</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h5>Список пуст</h5>
    {% endif %}
{% endblock content %}
