<!DOCTYPE html>
<html>
<head>
    <title>Профиль</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Username: {{ username }}</h1>
    <a href="/">Главное меню</a> |
    <a href="/history">История</a> |
    <a href="/logout">Выйти</a>
    <h2>Тесты:</h2>
    {% if tests.count > 0 %}
    <table>
        <thead>
            <th>Id</th>
            <th>Название</th>
            <th>Дата создания</th>
            <th>Опубликован?</th>
            <th></th>
        </thead>
        {% for test in tests %}
        <tr>
            <td>{{ test.id }}</td>
            <td><a href="questions/{{test.id}}">{{ test.title }}</a></td>
            <td>{{ test.created_at }}</td>
            <td>{{ test.is_published }}</td>
            <td>
                <a href="/edit_test/{{test.id}}">Изменить</a> | 
                <a href="/delete_test/{{test.id}}">Удалить</a> |
                <a href="/publish_test/{{test.id}}">Опубликовать</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>Список пуст</h3>
    {% endif %}
    <a href="/create_test">Создать тест</a>
</body>
</html>