{% extends "base.html" %}
{% block title %}Профиль{% endblock title %}
{% block content %}
    <h3 class="text-center">Username: {{ username }}</h3>
    <ul class="nav d-flex justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/">Главное меню</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/history">История</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/change_login">Сменить логин</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/change_password">Сменить пароль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="/logout">Выйти</a>
        </li>
    </ul>
    <h4>Тесты:</h4>
    {% if tests.count > 0 %}
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Название</th>
            <th>Дата создания</th>
            <th>Опубликован?</th>
            <th></th>
        </thead>
        {% for test in tests %}
        <tr>
            <td>{{ test.id }}</td>
            <td><a href="questions/{{test.id}}">{{ test.title }}</a></td>
            <td>{{ test.created_at }}</td>
            <td>{{ test.is_published }}</td>
            <td>
                <a href="/edit_test/{{test.id}}">Изменить</a> | 
                <a href="/publish_test/{{test.id}}">Опубликовать</a> |
                <a class="text-danger" href="/delete_test/{{test.id}}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h5 class="text-center">Список пуст</h5>
    {% endif %}
    <a class="btn btn-primary" href="/create_test">Создать тест</a>
{% endblock content %}