<!DOCTYPE html>
<html>
<head>
    <title>Вопросы</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Тест: {{ test.title }}</h1>
    <h2>Вопросы:</h2>
    {% if questions.count > 0 %}
    <table>
        <thead>
            <th>Id</th>
            <th>Текст</th>
            <th></th>
        </thead>
        {% for question in questions %}
        <tr>
            <td>{{ question.id }}</td>
            <td><a href="/answers/{{test.id}}/{{question.id}}">{{ question.issue }}</a></td>
            <td>
                <a href="/edit_question/{{test.id}}/{{question.id}}">Изменить</a> | 
                <a href="/delete_question/{{test.id}}/{{question.id}}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>Вопросов нет</h3>
    {% endif %}
    <a href="/create_question/{{test.id}}">Создать вопрос</a> |
    <a href="/profile">Профиль</a>
</body>
</html>