{% extends "base.html" %}
{% block title %}Вопросы{% endblock title %}
{% block content %}
    <h3 class="text-center">Тест: {{ test.title }}</h3>
    {% if test.is_published %}
    <h6 class="text-center text-danger">Тест опубликован! Read-only</h6>
    {% endif %}
    <ul class="nav d-flex justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/profile">Профиль</a>
        </li>
    </ul>
    <h4>Вопросы:</h4>
    {% if questions.count > 0 %}
    <table class="table">
        <thead>
            <th>Вопрос</th>
            <th>Правильный ответ?</th>
            <th></th>
        </thead>
        {% for question in questions %}
        <tr>
            <td><b>{{ question.issue }}</b></td>
            <td></td>
            <td>
                {% if not test.is_published %}
                <a href="/edit_question/{{test.id}}/{{question.id}}">Изменить</a> | 
                <a class="text-success" href="/create_answer/{{test.id}}/{{question.id}}/">Создать ответ</a> |
                <a class="text-danger" href="/delete_question/{{test.id}}/{{question.id}}">Удалить</a>
                {% endif %}
            </td>
        </tr>
        {% if question.choice_type == 0 %}
            {% for answer in question.singlechoice.singlechoiceanswers_set.all %}  
            <tr> 
                <td> {{ answer.text }} </td>
                <td>
                    {% if question.singlechoice.correct_answer == answer.id %}
                    <span class="text-success">True</span>
                    {% else %}
                    <span class="text-danger">False</span>
                    {% endif %}
                </td>
                <td>
                    {% if not test.is_published %}
                    <a href="/edit_answer/{{test.id}}/{{question.id}}/{{answer.id}}">Изменить</a> | 
                    <a href="/set_true/{{test.id}}/{{question.id}}/{{answer.id}}">Установить как верный</a> |
                    <a class="text-danger" href="/delete_answer/{{test.id}}/{{question.id}}/{{answer.id}}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% else %}
            {% for answer in question.multiplechoice.multiplechoiceanswers_set.all %}  
            <tr>  
                <td>{{ answer.text }}</td>
                <td>
                    {% if answer.is_correct %}
                    <span class="text-success">True</span>
                    {% else %}
                    <span class="text-danger">False</span>
                    {% endif %}
                </td>
                <td>
                    {% if not test.is_published %}
                    <a href="/edit_answer/{{test.id}}/{{question.id}}/{{answer.id}}">Изменить</a> | 
                    <a href="/set_true/{{test.id}}/{{question.id}}/{{answer.id}}">Верный/Неверный</a> |
                    <a class="text-danger" href="/delete_answer/{{test.id}}/{{question.id}}/{{answer.id}}">Удалить</a>
                    {% endif %}
                </td>
            </tr> 
            {% endfor %}
        {% endif %}
        {% endfor %}
    </table>
    {% else %}
    <h5 class="text-center">Вопросов нет</h5>
    {% endif %}
    {% if not test.is_published %}
    <a class="btn btn-primary" href="/create_question/{{test.id}}">Создать вопрос</a>
    {% endif %}
{% endblock content %}