{% extends "Web/base.html" %}
{% block title %}Вопросы{% endblock title %}
{% block auth %}{% include "Web/log_navbar.html" %}{% endblock auth %}
{% block navbar %}{% include "Web/settings_navbar.html" %}{% endblock navbar %}
{% block content %}
    <h3 class="text-center">{{ test.title }}</h3>
    {% if test.is_published %}
    <h5 class="text-center text-secondary">Количество прохождений: {{ test.pass_rate }}</h5>
    <h5 class="text-center text-secondary">Процент правильных ответов среди всех прохождений: {{ correct_rate_all|floatformat:2 }} %</h5>
    <h6 class="text-center text-danger">Тест опубликован {{ test.published_at|date:"d.m.Y" }}! Read-only</h6>
    {% endif %}
    <h4>Вопросы:</h4>
    {% if not test.is_published %}
    <a class="btn btn-success mt-2 mb-2" href="/create_question/{{test.id}}">Создать вопрос</a>
    {% endif %}
    {% if questions.count > 0 %}
    <div>
        {% if test.is_published %}
            {% for issue, image, answers, choice_type in questions_list %}
            <div class="row">
                <div class="mb-3 col">
                    <h5><b>{{ forloop.counter }}.</b> {{ issue }}</h5>
                    {% if choice_type == 0 %}
                        {% for answer, is_correct, average in answers %}
                        <div class="input-group mb-2">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="radio" disabled 
                                {% if is_correct %}
                                checked
                                {% endif %}
                                />
                            </div>
                            <label class="
                            form-control 
                            {% if is_correct %}
                            is-valid
                            {% elif chose %}
                            is-invalid
                            {% endif %}">{{ answer }} | <b>{{ average|floatformat:2 }} %</b></label>
                        </div>
                        {% endfor %}
                    {% else %}
                        {% for answer, is_correct, average in answers %}
                        <div class="input-group mb-2">
                            <div class="input-group-text"> 
                                <input class="form-check-input mt-0" type="checkbox" disabled 
                                {% if is_correct %}
                                checked
                                {% endif %}
                                />
                            </div>
                            <label class="
                            form-control 
                            {% if is_correct %}
                            is-valid
                            {% elif chose %}
                            is-invalid
                            {% endif %}">{{ answer }} | <b>{{ average|floatformat:2 }} %</b></label>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if image %} 
                <div class="text-center col">
                    <img src="{{ image.url }}" class="img-thumbnail mb-1" style="max-height:25rem;"/>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
            {% for question in questions %}
            <div class="mb-3" id="item-{{question.id}}">
                <label class="form-label mb-0"><b>{{ forloop.counter }}.</b> {{ question.issue }}</label>
                {% if question.image %}
                <div class="mb-1">
                    <span class="text-secondary">Изображение: <a href="{{ question.image.url }}">{{ question.image.url }}</a></span>
                </div>
                {% endif %}
                <div class="mb-2">
                    <a class="btn btn-sm btn-success" href="/create_answer/{{test.id}}/{{question.id}}/">Создать ответ</a>
                    <a class="btn btn-sm btn-primary" href="/edit_question/{{test.id}}/{{question.id}}">Изменить вопрос</a> 
                    <a class="btn btn-sm btn-danger" href="/delete_question/{{test.id}}/{{question.id}}">Удалить вопрос</a>
                    {% if question.image %}
                    <a class="btn btn-sm btn-danger" href="/delete_image/{{test.id}}/{{question.id}}">Удалить изображение</a>
                    {% endif %}
                </div>
                {% if question.choice_type == 0 %}
                    {% for answer in question.singlechoice.singlechoiceanswers_set.all %}  
                    <div class="input-group mb-2">
                        <span class="input-group-text">
                            {% if question.singlechoice.correct_answer == answer.id %}
                            <span class="text-success" style="width:6rem;">Верный</span>
                            {% else %}
                            <span class="text-danger" style="width:6rem;">Неверный</span>
                            {% endif %}
                        </span>
                        <input type="text" class="form-control" value="{{ answer.text }}"/>
                        <a href="/set_true/{{test.id}}/{{question.id}}/{{answer.id}}" class="btn btn-outline-secondary" type="button">Верный</a>
                        <a href="/edit_answer/{{test.id}}/{{question.id}}/{{answer.id}}" class="btn btn-outline-secondary" type="button">Изменить</a>
                        <a href="/delete_answer/{{test.id}}/{{question.id}}/{{answer.id}}" class="btn btn-outline-danger" type="button">Удалить</a>
                    </div>
                    {% endfor %}
                {% else %}
                    {% for answer in question.multiplechoice.multiplechoiceanswers_set.all %}  
                    <div class="input-group mb-2">
                        <span class="input-group-text">
                            {% if answer.is_correct %}
                            <span class="text-success" style="width:6rem;">Верный</span>
                            {% else %}
                            <span class="text-danger" style="width:6rem;">Неверный</span>
                            {% endif %}
                        </span>
                        <input type="text" class="form-control" value="{{ answer.text }}"/>
                        <a href="/set_true/{{test.id}}/{{question.id}}/{{answer.id}}" class="btn btn-outline-secondary" type="button">Верный/Неверный</a>
                        <a href="/edit_answer/{{test.id}}/{{question.id}}/{{answer.id}}" class="btn btn-outline-secondary" type="button">Изменить</a>
                        <a href="/delete_answer/{{test.id}}/{{question.id}}/{{answer.id}}" class="btn btn-outline-danger" type="button">Удалить</a>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
    </div>
    {% else %}
    <h5 class="text-center text-secondary">Вопросов нет</h5>
    {% endif %}
    <div>
        <a href="/profile#item-{{ test.id }}" class="btn btn-primary mt-2 mb-5">Назад к списку</a>
    </div>
{% endblock content %}