.description_of_the_test{
    text-indent: 25px;
    white-space: pre-wrap; 
    word-wrap: break-word; 
}

.form_description_of_the_test{
    text-indent: 25px;
    white-space: pre-wrap; 
    word-wrap: break-word; 
    display: block;
    width: 100%;
    
}