{% extends "Web/base.html" %}
{% block title %}Смена логина{% endblock title %}
{% block auth %}{% include "Web/log_navbar.html" %}{% endblock auth %}
{% block navbar %}{% include "Web/settings_navbar.html" %}{% endblock navbar %}
{% block content %}
<h3 class="text-center">Смена логина</h3>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-2">
        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
    </div>
    {% endfor %}
    <div>
        {% for error in form.errors.values %}
            <span class="text-danger">{{ error.0 }}</span>
        {% endfor %}
    </div>
    <input class="btn btn-primary mt-2" type="submit" value="Изменить логин"/>
</form>
{% endblock content %}